.App {
  text-align: center;
    width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  margin-top: 7px;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  margin-top: 20px;
}